.bookmark-bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bookmark-list {
    display: flex;
    flex-direction: row;
   

}

.bookmark-list-item {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 30px;
    padding: 50px;
    background-color: pink;
    border-radius: 5px;

}