.job-bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: #f4f1f1;
    

}

.heading {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    color: rgb(13, 1, 31);
}

.jobs-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.jobs-list-item {
    list-style-type: none;
    background-color: rgb(231, 229, 231);
    padding: 50px;
    margin: 30px;
    width: 60%;
    border-radius: 5px;
}

.star-button {
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid #595858;
    margin-left: 90%;
    margin-top: 30px;
}

.icon {
    font-size: 22px;
}

.close-button {
    position: absolute;
    top: 40px;
    right: 40px;
    padding: 7px 13px;
    cursor: pointer;
    background-color: #cbcaca;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 5px;
    color: black;
}

.close-icon {
    font-size: 25px;
}

.para-1 {
    font-size: 23px;
    font-weight: 700;
}

.para-2 {
    font-size: 18px;
    color: rgb(13, 1, 31);

}

.para-3 {
    font-size: 18px;
}

.para-4 {
    font-size: 19px;
    font-weight: 600;
}

.para-5 {
    font-size: 18px;
}

.hr-line {
    width: 100%;
}

.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cont-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cont-icon {
    font-size: 20px;
    margin-right: 10px;
}